body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #484C63;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.header {
  background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
  width: 100%;
  &__box {
    display: flex;
    padding-top: 150px;
    &-img {
      min-width: 50%;
    }
    &-content {
      flex-basis: 50%;
      align-self: center;
      padding-bottom: 30px;
    }
    &-title {
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
      color: #1A2578;
      padding-bottom: 32px;
      margin: 0;
    }
    &-text {
      font-size: 22px;
      padding-bottom: 50px;
      margin: 0;
    }
    &-buttons--one {
      background: #BF0830;
      border-radius: 6px;
      color: #fff;
      border: none;
      padding: 14px 32px;
      font-size: 16px;
      font-weight: 700;
      border: 1px solid transparent;
      transition: all .3s;
      margin-right: 15px;
      &:hover {
        background: #fff;
        color: #BF0830;
        border: 1px solid #BF0830;
      }
    }
    &-buttons--two {
      background: #fff;
      border-radius: 6px;
      color: #BF0830;
      border: 1px solid #BF0830;
      padding: 14px 32px;
      font-size: 16px;
      font-weight: 700;
      transition: all .3s;
      &:hover {
        background: #BF0830;
        color: #fff;
      }
    }
  }
}
.navigation {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.menu {
    display: flex;
    align-items: center;
    gap: 60px;
    &__list {
      display: flex;
      gap: 30px;
    }
    &__link {
      font-size: 16px;
      transition: all .3s;
      &:hover {
        color: #BF0830;
      }
    }
    &-btn {
      display: none;
      width: 40px;
      height: 30px;
      flex-direction: column;
      justify-content: space-between;
      & span {
        height: 2px;
        width: 100%;
        background-color: #BF0830;
      }
    }
  }
.btn {
  background: #BF0830;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  transition: all .3s;
  &:hover {
    background: #E3E7F6;
    color: #BF0830;
    border: 1px solid #BF0830;
  }
}
.brands {
  padding: 100px 0;
  border-bottom: 1px solid rgba(197, 203, 226, 0.5);
  &__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 57px;
    color: #1A2578;
    text-align: center;
    padding-bottom: 80px;
    margin: 0;
    & span {
      color: #BF0830;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
.products {
  padding: 105px 0;
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    color: #1A2578;
    text-align: center;
    padding-bottom: 16px;
    margin: 0;
  }
  &__text {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #484C63;
    margin: 0;
    padding-bottom: 100px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    &-item {
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
    }
    &-content {
      padding: 64px 110px 0 65px;
    }
    &-text {
      font-size: 24px;
      line-height: 31px;
      color: #3A3A3C;
      margin: 0;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    &-btn {
      background: #fff;
      border-radius: 6px;
      color: #BF0830;
      border: 1px solid #BF0830;
      padding: 12px 12px;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      align-items: center;
      & span {
        margin-left: 9px;
      }
    }
  }
}
.creators {
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  padding: 73px 0;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content {
      max-width: 460px;
    }
    &-title {
      font-weight: 700;
      font-size: 44px;
      line-height: 57px;
      color: #1A2578;
      margin: 0;
      padding-bottom: 16px;
    }
    &-text {
      font-size: 16px;
      line-height: 27px;
      margin: 0;
    }
  }
}
.innovation {
  margin: 120px 0 30px 0;
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    text-align: center;
    color: #1A2578;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 110px;
  }
  &__slider {
    position: relative;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
    }
    &-item {
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
      border-radius: 8px;
      width: 255px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.join {
  background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  padding: 100px 0;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content {
      max-width: 390px;
    }
    &-title {
      font-weight: 700;
      font-size: 44px;
      line-height: 57px;
      color: #1A2578;
      margin: 0;
      padding-bottom: 16px;
    }
    &-text {
      font-size: 16px;
      line-height: 27px;
    }
    &-btn {
      background-color: transparent;
      border-radius: 6px;
      color: #BF0830;
      border: 1px solid #BF0830;
      padding: 14px 32px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      margin-top: 16px;
      transition: all .3s;
      &:hover {
        background-color: #BF0830;
        color: #fff;
      }
    }
  }
}
.footer {
  background-color: #0D123C;
  color: #fff;
  padding: 55px 0 40px 0;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  &__content {
    max-width: 325px;
    &-text {
      margin-top: 30px;
      font-size: 16px;
      line-height: 27px;
    }
  }
  &__info {
    display: flex;
    gap: 105px;
  }
  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 30px;
  }
  &__list {
    margin: 0;
    &-item {
      padding-bottom: 20px;
    }
  }
  &__social {
    display: flex;
    gap: 15px;
    align-items: center;
    &-item {
      fill: #fff;
      transition: all .3s;
      &:hover {
        fill: #BF0830;
      }
    }
  }
  &__bottom {
    border-top: 1px solid rgba(197, 203, 226, 0.5);
    padding-top: 30px;
    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-text {
      margin: 0;
      line-height: 21px;
    }
    &-link {
      line-height: 21px;
      text-decoration-line: underline;
    }
  }
  &__item-link {
    transition: all .3s;
    &:hover {
      color: #BF0830;
    }
  }
}
@media (max-width:1016px) {
  .header__box {
    padding-top: 100px;
    &-content {
      flex-basis: content;
    }
    &-img {
      align-self: center;
    }
  }
}
@media (max-width:800px) {
  .header__box {
    flex-direction: column;
    &-img {
      width: 100%;
      padding-top: 40px;
    }
    &-content {
      text-align: center;
    }
  }
  .menu-btn {
    display: flex;
  }
  .menu__list {
    transform: translateX(-100%);
    transition: transform 1s;
    position: absolute;
    top: 100px;
    left: 20px;
    right: 0;
    width: 320px;
    &--active {
      transform: translateX(0%);
    }
  }
}
@media (max-width:460px) {
  .header__box {
    padding-top: 50px;
    &-title {
      font-size: 44px;
      line-height: 57px;
    }
    &-buttons--one {
      margin-right: 8px;
    }
    &-buttons--one,
    &-buttons--two {
      padding: 12px 22px;
      font-size: 14px;
    }
  }
}